 body {
  margin: 0;
  padding: 0;
}

:root{

  --bgGris: #f6f6ff;
  --titreh1: #1a255c;
}

a {
  text-decoration: none;
  color: black;
}

#partie1{
  background-color: RGB(37, 51, 92);
  height: 100%;

}

#partie1 a {
  color: white;
}

p{
  font-family: "DM Sans";
  color: #635d71;
}


  #menu {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-around;
    font-family: "DM Sans";
    color: #F5F4F6;
    font-size: 16px;
    padding-top: 4%;
    display: none;
  }

  #menu>p:hover{
    /* transform: scale(1.01); */
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease-out;
    
    
  }

  #menu>p:not(:hover){
    /* border-style: none; */
    transition: all 2s ease-out;

  }

  #menu p {
    color: #F5F4F6;
  }


  #iconeDiv{

    background-image: url("../img/offre-meuf-ordi.svg");
    background-color: orange;
    margin-bottom: 20px;
    border-radius: 200px;
    position: absolute;
    top : 10px;
    left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 50px;

  }


#iconeMenu{
  height: 100%;
  width: 100%;
  margin: 0 0  0;

  
  /* position: absolute;
  top: 0; */
  
}

#iconeMenu img{
  width: 100%;
  height: 100%;
}

.barreGauche{

  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(59, 59, 150);
  opacity: 0.90;


}

.titreBarGauche{
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  background-color: green;
  opacity: 1;
  z-index: 1;

}

.titreBarGauche a {
  color: white;
}

.pBarreGauche{
  height: 100px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  color: white;
  background-color: #ecd504;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  
}

#barreStockPara{
  /* margin-top: 20px; */
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#windowLog{
  background-color: white;
  height: 50px;
  min-width: 70px;
  max-width: 150px;
  color: black;
}

#windowLog a{

  color: black;
}

#windowSub{
  background-color: white;
  height: 50px;
  min-width: 70px;
  max-width: 150px;
  color: black;
}

#windowSub a{
  color: black;
}

#menu p {
  text-align: center;
  height: min-content;

}

#coneclog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#coneclog button{
  width: 100%;
  text-align: center;
  border-radius: 10px;
  height: 50%;
  /* border-color: red; */
  border-color: rgba(255,255,255,0.06);
  border-width: 3px;
  border-style: solid;
  font-family:"DM Sans" ;
}

#btn1coneclog{
  margin-bottom: 10px;
}

#coneclog a {
  
  color: black;
}


#phronesis{
  width: 150px;
  height: 75px;

}


main{
  margin: 80px 10% auto 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 60px;
  /* position: absolute; */
}



#mainPara{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

 #optiFlex{
  display: flex;
  justify-content: center;
  
 }

#optidiv{
  width: 80%;
  /* padding: 5px 0px 1px 20px; */
}

#optip{

  color:white;
  font-size: 14px;
  font-family: "DM Sans";
  line-height: 60px;
  width: 100%;
  /* padding: 10px 5px 3px 5px; */
  line-height: 30px;
  background-color: rgba(255,255,255,0.06);
  border-radius: 5px;
  text-align: center;
  margin: auto auto auto auto;
  padding-top: 4px;
  max-width: 850px;
  
}

main h1 {
  font-size: 44px;
  text-align: center;
  font-family: "Inter";
  color: white;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0px;
  /* margin-bottom: 10px; */
}




.mainp{
  font-family: "DM Sans";
  color: #D3D6DE;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}


#jerecois{
  color: rgb(22, 43, 82);
  background-color:rgba(255,255,255,0.9);
  height: 60px;
  width: 80%;
  font-size: 20px;
  font-family: "DM Sans";
  border-radius: 10px;
  border-style: none;
  text-align: center;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 700px;
  
}

#jerecois:hover{
  background-color: rgb(42, 146, 42);
  cursor: pointer;
}

/* Partie 2 */

#partie2{

  background-color: #EAE5F8;
  width: 100%;
  padding-bottom: 100px;

}

#partie2div {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* border-style: solid; */
  /* height: min-content; */
  margin : auto auto auto auto;
 

}

#solucChasse{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#chasseChange{
  display: none;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 20px;
  width: 48%;
  height: 220px;
  margin: 40px auto auto auto;
  
}

#chasseChange h2{
    margin-bottom: 0px;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Inter";
    font-weight: 600;
    color: #635d71;
    height: 75px;
}

#chasseChange p {
  text-align: start;
  margin: auto 4% auto 25px;
  font-size: 14px;
}


#designBoite{
  display: flex;
  width: 66%;
  justify-content: space-around; 
}

#designBoite :nth-of-type(2){
  margin-left: 10px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

}



/* #partie2 div :nth-child(4){
  
} */


#partie2 h1 {
  margin-top: 60px;
  text-align: center;
  font-family: "Inter";
  font-weight: bold;
  color: #635d71;
  font-size: 32px;
  
}

.partie2sousdiv{
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 20px;
  width: 31%;
  height: 230px;
}



#partie2 div :nth-child(4){
  margin-top: 20px;
}


.partie2sousdiv{
  height: 260px;
}


.partie2sousdiv h2{
  margin-bottom: 0px;
  margin-left: 25px;
  margin-top: 30px;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 600;
  color: #635d71;
  height: 80px;
}

.partie2sousdiv p {
  text-align:start;
  margin-left:25px ;
  margin-right: 4%;
  font-size: 16px;
  font-family: "DM Sans";
  
}

/* partie 3 */

#partie3{
  background-color: #f6f6ff;
  padding-top: 30px;
  padding-bottom: 30px;

}


/* Introduction offre */

#presoffre{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto auto auto auto;
  
}

#offre{

  text-align: center;
  width: 60%;
  margin : auto auto auto auto;

}



#offre :nth-child(1) {
  font-family: "DM Sans";
  color:rgb(62, 60, 67) ;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0px;
}

#offre h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color:#1a255c;
}

#offre :nth-child(3) {
  font-size: 18px;
  line-height: 30px;
  color: #635d71;
  font-family: "DM Sans";
}

/* Offre en elle-meme */

.toutcompris{
  width: 30%;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.103);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.toutcompris img {
  width: 200px;
  height: 200px;
  /* margin: auto auto auto auto; */
}

/* .toutcompris p {
  width: min-content;
  margin: auto auto auto auto;
  
} */

#ajus-tout-compris {
  height: 100%;
  width: 100%;
  /* border-style: solid; */

}


#div-titre-offre-1 {
  width: 160px;
  height: 30px;
  background-color: #dbdfff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin : 10px auto auto auto;
  border-radius: 5px;
}

#div-titre-offre-2 {
  width: 160px;
  height: 30px;
  background-color: #ffdadd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin : 10px auto auto auto;
  border-radius: 5px;
}

#div-titre-offre-3 {
  width: 160px;
  height: 30px;
  background-color:#c4f6e3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin : 10px auto auto auto;
  border-radius: 5px;
}

#ptitreoffre1{
  color: #0048ee;
  font-size: 14px;
  font-family: "DM Sans" ;

}

#ptitreoffre2{
  color: #ae4a50;
  font-size: 14px;
  font-family: "DM Sans" ;

}

#ptitreoffre3{
  color: #308159 ;
  font-size: 14px;
  font-family: "DM Sans" ;

}

#h1offre1 {
  color: #4d79e8;
  font-weight: 600;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  text-align: center;
}

#h1offre2 {
  color: #ae4a50;
  font-weight: 600;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  text-align: center;
}

#h1offre3 {
  color: #3ab477;
  font-weight: 600;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  text-align: center;
}

#toutcompris :nth-child(4) {
  color: #635d71;
  font-size: 16px;
  line-height: 26px;
  font-family: "DM Sans";
  width: 80%;
  margin: auto auto auto auto;
}

.poffre{
  width: min-content;
  margin : auto auto auto auto;
}

#offreDataAjout{
  display: none;
}

.descriptionOffre{
  color: #635d71;
  font-family: "DM Sans";
  text-align: center;
  padding : 0 4px;

}

#partie4{
  padding-top: 30px;
  padding-bottom: 30px;
}

#video{
  width: 80%;
  height: 30%;
  margin:50px auto auto auto;
  display: flex;
  justify-content: center;
}

#pVideo{
  background-color:  #e7e7eb;
  width: 29%;
  font-size: 14px;
  margin: auto auto auto auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "DM Sans";
  max-width: 400px;
}

#p2Video{
  padding-left: 10px;
  padding-right: 10px;
  width: 60%;
  margin: auto auto auto auto;
  text-align: center;
  color: #635d71;
  font-family: "DM Sans";
}

#h1Video{
  text-align: center;
  /* padding-left: 10px;
  padding-right: 10px; */
  margin: 25px auto 25px auto;
  font-size: 30px;
  width: 80%;
  color: #1a255c;
}

#partie5{
  background-color: #f6f6ff;
  padding-top: 60px;
  padding-bottom: 60px;
}


.posPartie5{
  margin: auto;
  /* display: flex;
  align-items: center; */
}

#p1Etape{
  padding: 10px 10px 10px 10px;
  background-color: #dbdfff;
  width: 25%;
  color: #0048ee;
  margin: auto auto auto auto;
  text-align: center;
  border-radius: 5px;

}

#p0Etape{
  padding: 10px 10px 10px 10px;
  background-color: #ffdadd;
  width: 25%;
  color: #ae4a50;
  margin: auto auto auto auto;
  text-align: center;
  border-radius: 5px;

}





.h1Etape{
  font-size: 25px;
  text-align: center;
  color: #1a255c;
}

#p-1Etape{
  color: #308159;
  padding: 10px 10px 10px 10px;
  background-color: #c4f6e3;
  width: 25%;
  margin: auto auto auto auto;
  text-align: center;
  border-radius: 5px;

}

#partie7{

  background-color: #f6f6ff;
  padding-top: 60px;
  padding-bottom: 60px;
  
}

#partie8{
  padding: 100px 0px 100px 0px;
}

.posPartie8 {
  margin: auto;
}

#p1Partie8{
  max-width: 500px;
  margin: auto auto auto auto;
  font-size: 14px;
  font-family: "DM Sans";
  background-color: #e7e7eb;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  text-align: center;
}

#partie9{
  background-color: var(--bgGris);
  padding: 100px 0px;
}

.posPartie9{
  margin: auto;
  width: 80%;
}

.posPartie9 h1{
  /* max-width: 426px; */
  margin: auto auto 40px auto;
  color: var(--titreh1);
  font-size: 32px;

}

.posPartie9 > p {
  width: 80%;
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.posPartie9 >h1 {
  text-align: center;
  /* max-width: 800px; */
}

.divQuestion{
  background-color: white;
  padding: 2px 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 515px;
}

.pQuestion{
  margin: 0px;
  padding-top: 10px;
  text-align: center;
  color: #2d314a;
}

.placementVert{
  display: flex;
  /* border-style: solid; */
  height: 28px;
  width: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color:#35d988;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plusVert{
  font-size: 30px;
  color: green;
  height: min-content;
  width: min-content;
  padding-bottom: 3px;
  cursor: pointer;
  user-select: none;
}

.reponseFaq{
  display: none;
  background-color: #dbdadb;
  padding: 20px;
  border-radius: 10px;
}

#partie10{
  padding-bottom: 20px;
  background-color: var(--bgGris);
  
}

#imgArbre{
  height: 280px;
  width: 400px;
  display: block;
  margin: 40px auto auto auto;
}


#lesAvantages h1{
  color: var(--titreh1);
  font-size:32px;
  text-align: center;
  
  
}

#lesAvantages p {
  max-width: 80%;
  text-align: center;
  margin: auto;
  max-width: 600px;
}

#contact{
  width: 95%;
  margin: 50px auto auto auto;
  max-width: 750px;
}

#contact h1 {
  color: var(--titreh1);
  font-size:32px;
}

#contact h2 {
  color: var(--titreh1);
  font-size:20px;
}

#croixBarre{
  height: 50px;
  width: 50%;
  margin: 0px auto;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}


@media screen and (min-width :1550px){

#h1offre3{
  height: 60px;
}

#h1offre2{
  height: 60px;
}

#h1offre1{
  height: 60px;
}
.posPartie5 {
  width: 60%;



}


#imageExel{
  width: 490px;
  height: 280px;
  margin: auto auto auto auto;

}


}


@media screen and (max-width :1550px){

  .partie2sousdiv{
    height: 300px;
  }

  .posPartie5 {
    width: 65%;

  }

  .posPartie8 {
    width: 65%;
  }

}




@media screen and (max-width :1220px){

  .partie2sousdiv{
    height: 320px;
  }

  .partie2sousdiv h2{
    height: 100px;
  }

  .partie2sousdiv p {
    text-align:start;
    margin : auto 4% auto 25px;
    font-size: 16px;
    
  }

  .posPartie5 {
    width: 70%;

  }

  


}

@media screen and (min-width :1030px){
  #recadrageImage2{
    width: 375px;
    height: 250px;
  }
}


@media screen and (max-width :1180px){

    .partie2sousdiv h2{
    font-size: 18px;
    height: 65px;
    }

  .partie2sousdiv p {
    text-align:start;
    margin : auto 4% auto 25px;
    font-size: 14px;
    
  }

  .partie2sousdiv{
    height: 280px;
  }

  #h1offre3{
    height: 80px;

  }

  #h1offre2{
    height: 80px;
  }

  #h1offre1{
    height: 80px;
  }

  .posPartie5{
    width: 80%;
  }

  #imageExel{
    width: 370px;
    height: 220px;
    margin: auto auto auto auto;


  }


}

@media screen and (min-width:1100px){

  #iconeMenu{
    display: none;
  }

  #menu{
    display: block;
  }
}

@media screen and (max-width :970px){

  .partie2sousdiv h2{
    height: 75px;
    }

  .partie2sousdiv{
    height: 260px;
  }

  #partie2div{
    width: 80%;
  }

  .partie2sousdiv{
    height: 300px;
  }

  .toutcompris{
    width: 40%;
    height: 400px;
  }

  /* #ajus-tout-compris{
    height: 380px;
  } */

  #presoffre{
    justify-content: space-around;
  }

  #offreDataAjout{
    display: block;
    width: 33%;
    margin: 40px auto auto auto;
  }

  #h1offre1{
    height: auto;
  }
  #h1offre2{
    height: auto;
  }
  #h1offre3{
    height: auto;
  }

  .posPartie5{
    width: 80%;
  }

}


@media screen and (max-width :850px){

  .toutcompris{
    height: 450px;
  }

  #h1offre1{
    height: 90px;
  }

  #h1offre2{
    height: 90px;
  }

  #offreDataAjout{
    height: 410px;
  }

  #p2Video{
    width: 80%;
  }


  .divImageEtape1 {
    width: 50%;
  }

  .posPartie5 {
    width: 90%;
  }


  #partie6{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #recadrageImage2{
    width: 350px;
    height: 250px;
    margin-right: 20px;
  }

  #imageExel{
    width: 350px;
    height: 200px;
    margin: auto auto auto auto;

  }

}

@media screen and (min-width : 850px){
  .divImageEtape1{
    width: 40%;
    height: 250px;
  }

  .imageEtape1{
    width: 100%;
    height: 100%;

  }

  .p2Etape{
    text-align: justify;
    margin: auto;
    max-width: 424px;
  }

  #partie5{
    align-items: center;
    background-color: #f6f6ff;
  }

  .presEtape1{
    width: 50%;
    height: 100%;
  }

  #partie5{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #partie6{
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

@media screen and (max-width :800px){

  .partie2sousdiv{
    width: 48%;
    height: 230px;
  }

  .partie2sousdiv h2{
    height: 60px;
  }

  #chasseChange{
    height: 190px;
  }

  #chasseChange h2{
    height: 60px;
  }

  #offre h1 {

    font-size: 25px;
    line-height: 35px;

  }

  #pVideo{
    width: 50%;
    font-family: "DM Sans";
  }

  #h1Video{
    font-size: 25px;
  }

  #partie5{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #partie6{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #recadrageImage2{
    width: 350px;
    height: 250px;
    margin-right: 20px;
  }

  #imageExel{
    width: 300px;
    height: 180px;
    margin: auto auto auto auto;

  }

  #partie7 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #partie8{
    padding: 60px 0px;
  }

  #partie9{
    padding: 60px 0px;
  }

}

@media screen and (min-width :650px){

  .presEtape1{
    width: 50%;
    height: 100%;
  }

  .divImageEtape1{
    height: 250px;
    width: 48%;
  }

  .imageEtape1{
    width: 100%;
    height: 100%;

  }

  .p2Etape{
    text-align: justify;
    margin: auto;
    max-width: 481px;
  }

  .posPartie5{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  #telEtape1{
    display: none;
  }

  #imageExel{
    padding-top: 60px;
  
  }



}


@media screen and (max-width :650px){


  #iconeDiv{

    height: 45px;
    width: 45px;

  }

  #partie1 h1{
    font-size:24px ;
  }

  #partie2 h1{
    font-size:20px ;
  }

  #optip{

    font-size: 10px;
    line-height: 20px;

  }

  .mainp{
    font-size: 14px;
    line-height: 25px;
  }

  #jerecois{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .partie2sousdiv{

    height: 230px;
  }

  .partie2sousdiv h2{
    height: 75px;
    font-size: 16px;
  }

  .partie2sousdiv p {
    font-size: 12px;
  }

  #chasseChange{
    height: 180px;
  }

  #chasseChange h2{
    font-size: 16px;
    height: 70px;
  }

  #chasseChange p {
    font-size: 12px;
  }

  #offre :nth-child(1) {
    font-size: 16px;
  }

  #offre :nth-child(3) {
    line-height: 25px;
  }

  #offre h1 {

    font-size: 20px;
    line-height: 30px;
  }

  #h1offre1{
    font-size: 18px;
    height: 110px;
  }

  #h1offre2{
    font-size: 18px;
    height: 110px;

  }

  #h1offre2{
    font-size: 18px;

  }

  .toutcompris{
    height: 400px;
  }

  .toutcompris img{
    height: 130px;
    width: 150px;
  }

  #offreDataAjout{
    height: 380px;
  }

  .divImageEtape1{
    width: 100%;
    height: 240px;
    margin-top: 50px;
  }

  .imageEtape1{
    width: 100%;
    height: 100%;

  }

  .p2Etape{
    text-align: center;
  }

  #partie5{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #partie6{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #telEtape2{
    display: none;
  }

  #recadrageImage2{
    width: 280px;
    height: 200px;
    margin: 50px auto auto auto;
  }

  #imageExel{
    width: 300px;
    height: 180px;
    margin: auto auto auto auto;
  
  }


}


@media screen and (max-width :550px){

  .partie2sousdiv{

    height: 270px;
  }

  #offreDataAjout{
    display: none;
  }

  #presoffre{
    flex-direction: column;
  }

   .toutcompris{
    width: 100%;
   }

   .toutcompris img {
    width: 150px;
    height: 150px;
   }

   #h1offre1{
    height: 60px;
   }

   #h1offre2{
    height: 60px;
   }

   #h1offre3{
    height: 60px;
   }

   .toutcompris{
    height: 350px;
   }
   #offreDataRemove{
    height: 350px;
   }

   #presoffre{
    height: 1150px;
    justify-content: space-between;
   }

   .divImageEtape1{
    width: 100%;
    height: 240px;
    margin-top: 50px;
  }

  .imageEtape1{
    width: 100%;
    height: 100%;

  }

  .p2Etape{
    text-align: center;
  }

  #partie5{
    background-color: #f6f6ff;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #partie6{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #recadrageImage2{
    width: 280px;
    height: 200px;
    margin: 50px auto auto auto;
  }

  #imageExel{
    width: 300px;
    height: 180px;
    margin: auto auto auto auto;

  }

  #imgArbre{
    width: 250px;
    height: 200px;
  }

  


}


@media screen and (max-width :440px){
  #jerecois{
    font-size: 12px;

  }

  #solucChasse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .partie2sousdiv{
    width: 80%;
    /* height: 300px; */
  }

  .partie2sousdiv h2 {
    font-size: 16px;
  }

  .partie2sousdiv p {
    font-size: 14px;
  }

  #third {
    height: 220px;
  }

  #partie2div h1{
    font-size: 20px;
  }

  #chasseChange{
    width: 80%;
    height: 200px;
  }

  #pVideo{
    width: 80%;
    font-family: "DM Sans";
  }

  .divImageEtape1{
    width: 100%;
    height: 220px;
    margin-top: 50px;
  }

  .imageEtape1{
    width: 100%;
    height: 100%;

  }

  .p2Etape{
    text-align: center;
  }

  #partie5{
    background-color: #f6f6ff;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #partie6{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #recadrageImage2{
    width: 280px;
    height: 200px;
    margin: 50px auto auto auto;
  }

  #imageExel{
    width: 300px;
    height: 180px;
    margin: auto auto auto auto;

  }



}

@media screen and (max-width :400px){

  #partie1 h1 {

    font-size: 20px;

  }

  #partie2 h1{
    font-size:20px ;
  }

  #iconeDiv{
    height: 40px;
    width: 40px;
    
  }

  #jerecois{
    font-size: 12px;
    height: 50px;

  }

  .partie2sousdiv{
    height: 300px;
  }

  .divImageEtape1{
    width: 100%;
    height: 190px;
    margin-top: 50px;
  }

  .imageEtape1{
    width: 100%;
    height: 100%;

  }

  .p2Etape{
    text-align: center;
  }

  #partie5{
    background-color: #f6f6ff;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #partie6{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #recadrageImage2{
    width: 280px;
    height: 200px;
    margin: 50px auto auto auto;
  }



 

  
}

@media screen and (max-width :350px){

  #iconeDiv{

    height: 30px;
    width: 30px;

  }

  #optip{

    line-height: 18px;
    margin-bottom: 10px;
  }

  .mainp{
    line-height: 20px;
  }

  #jerecois{
    font-size: 12px;
    height: 60px;

  }

  #partie1 h1 {

    font-size: 20px;
    line-height: 22px;

  }

  #partie2 h1{
    font-size:20px ;
  }

  #offre :nth-child(1){
    font-size: 12px;
  }

  #offre :nth-child(3){
    font-size: 14px;
    line-height: 20px;
  }

  .partie2sousdiv{
    height: 320px;
  }

  #third {
    height: 230px;
  }

  .toutcompris{
    height: 380px;
    padding-bottom: 20px;
  }

  #h1offre2{
    height: 90px;
  }
  #presoffre {
    height: 1250px;
}

.divImageEtape1{
  width: 100%;
  height: 170px;
  margin-top: 50px;
}

.imageEtape1{
  width: 100%;
  height: 100%;

}

.p2Etape{
  text-align: center;
  margin-bottom: 0;
}

#partie5{
  background-color: #f6f6ff;
  padding-top: 25px;
  padding-bottom: 25px;
}

#partie6{
  padding-top: 25px;
  padding-bottom: 25px;
}

#recadrageImage2{
  width: 280px;
  height: 200px;
  margin: 50px auto auto auto;
}

#partie7 {
  background-color: #f6f6ff;
  padding-top: 25px;
  padding-bottom: 25px;
}

#partie8{
  padding: 25px 0px;
}

#partie9{
  padding: 25px 0px;
}

  
}

@media screen and (max-width :300px){


  .p2Etape{
    text-align: center;
  }

  .partie2sousdiv{
    height: 320px;
    width: 90%;
  }

  #jerecois {
    font-size: 12px;
    height: 80px;
  }

  .divImageEtape1{
    width: 100%;
    height: 170px;
    margin-top: 50px;
  }

  .imageEtape1{
    width: 100%;
    height: 100%;

  }

  #partie5{
    background-color: #f6f6ff;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #partie6{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #telEtape2{
    display: none;
  }

  #recadrageImage2{
    width: 260px;
    height: 190px;
    margin: 50px auto auto auto;
  }

  #imageExel{
    width: 250px;
    height: 150px;
    margin: auto auto auto auto;

  }

}

