#sub {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
 margin-top: 15px;
}

#home p {
  text-align: center;
}

#btn{
  border-radius: 5px;
}



body{
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#home {
  margin: 35px auto auto auto;
  width: 80%;
}

#reponseServer{
  visibility: hidden;
}

/* admin.css */

#AncreLogin{
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#btnAuto{
  width: 160px;
  display: block;
  margin : 180px auto auto auto;
}

#autotrue{
  display: block;
  color: green;
  margin: 30px auto auto auto;
  width: min-content;
  text-align: center;
}

#sup{
  position: relative;
  border-width: 1px;
  border-radius: 10px;
  width: 80%;
  margin: auto auto auto auto;
  background-color: white;
  z-index: 1;

}

#flou{
  /* background-image: url(../img/img-porte.jpg); */

  background-color: rgb(226, 218, 218);
  z-index: 0;
  height: 800px;
  display: flex;
  align-items: center;
  background-size: cover;

}

#home > p:nth-child(1) > a{
color: #1a255c;
font-size: 25px;
font-weight: bold;
}

#home > p:nth-child(2) > a{
  color: purple;
  font-size: 25px;
  font-weight: bold;
  }


