
#pres{
    text-align: center;
    color: white;
}

#pPres{
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: white;

}

#lancerLaRecherche{
    color: white;
    border-style: solid;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    background-color: red;
    font-size: 14px;
    margin: 0;
    position: relative;
    top: -20px;
}

#rechercheProfil{
    width: 19%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: fixed;
    top:20%;
    border-radius: 10px;
    padding-bottom: 16px;
}

#pRechercheProfil  {
    text-align: center;
}

#conteneurRechercheResultat{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    top:50px;
    
}

#listeProfil{
    width: 150px;
}

select{
    width: 150px;
    max-height: 100px;
    
}

label{
    width: 150px;
    display: block;
    margin-bottom: 5px;
}

#resultatRecherche{
    width: 100%;
    display: flex;
    gap: 30px;
    height: 100%;
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;

}

#ResultatRecherche div{
    width: 100px;
    height: 100px;
    text-align: center;
}

.styleProfil{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 10px;

}

#resultatRechercheBlock{
    width: 80%;
    padding-left: 40px;
    padding-top: 20px;
    position: absolute;
    right: 0;
    top: 180px;
}

.detailCandidat{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}

.detailCandidat p{
    margin: 0;
}

.divCompetence{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.divCompetence p{
    margin: 0;
}

.pCompetence{
    /* border-style: solid; */
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(91, 184, 221);
    color: white;
}

.pIndicationListeCompetence{
    margin-bottom: 8px;
}

.imgGenre{
    width: 50%;
    height: 100%;
    background-image: url('./function/img/homme-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.boiteAllCarac{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* justify-content: space-around; */
}

label {
    font-weight: bold;
}

option{
    font-family: "Inter";
}

p{
    font-family: "Inter";
}

#presSearch{
    background-color:rgb(37, 51, 92) ;
    width: 100%;
    position: absolute;
    padding-bottom: 21.44px;
}

  body{
    margin:0;
    padding:0;
  }

  #pRechercheProfil{
    padding: 0 20px;
    margin: 0;
  }

  .divImgPlusNomPrenom{
    display: flex;
    width: 100%;
    height: 156px;
    border-bottom: solid;
  }

  .divCodeNomPrenomId{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

  }

  .divCodeNomPrenomId p{
    margin: 0;
  }

  .encadrementStyleProfil{
    width: 300px;
    height: 810px;
  }

  #niveauExperience{
    position: absolute;
    width: 148px;
    height: 17px;
    background-color: white;
    overflow-y: hidden;
    margin-top: 10px;
    border : solid 0.5px rgb(118, 118, 118);
    z-index: 1;
    border-radius: 2px;
  }

  #encadrementNiveauExperience{
    position: relative;
    margin-bottom: 20px;
  }

  .pNivExperience{
    margin: 0 0 4px 2px;
    font-size: 14px;
    text-align: left;
    position: relative;
  }

  .pExperienceSelectionne{
    margin: 0;
    margin-top: 7px;
    background-color: aqua;
    white-space: nowrap;
    width: min-content;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 13px;
  }


  #flecheExperience{
    position: absolute;
    margin-left: 30px;
    background-image: url("../img/flecheDoubleTrait.png");
    width: 15px;
    height: 15px;
    right: 3px;
    z-index: 1;
    background-size: cover;
    transform: rotate(90deg);
  }

  .croixRouge{
    padding-left: 5px;
    font-size: 13px;
  }

  #encadrementAge{
    position: relative;
    padding-bottom: 5px;
  }

  #age {
    z-index: 0;
    margin-bottom: 10px;
  }

  .inputAge{
    width: 15px;
    font-size: 13px;
  }

  #entreAge {
    margin: 0;
    font-size: 13px;
    text-align: center;
    display: none;

  }

  #nombreResultat{
    position: absolute;
    margin: 0;
    width: 100%;
    text-align: center;
    top: 165px;
    text-decoration: underline;
    font-weight: bold;
    color: red;
    font-size: 25px;
    
  }



